.intro img {
    margin: 10px auto;
    height: 300px;
    border-radius: 25%;
}

a {
    text-decoration: none;
}

.projects img {
    transform-origin: 50% 65%;
    transition: transform 1s, filter 1s ease-in-out;
}

.projects img:hover{
    transform: scale(1.05);
}

.fab, .fas {
    color: white;
}

.fab:hover, .fas:hover{
    color: #fff9;
    transform: scale(1.1);
}

.contact-me, .projects, .about-me, .intro {
    padding: 5rem;
}

.socialm{
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .contact-me, .projects, .about-me, .intro {
        padding: 2rem;
    }
}